html {
    height: 100%;
}

body {
    height: 100%;
    margin: 4px;
}

.container {
    height: 100%;
}

.fullHeight {
    height: 100%;
}

.halfHeight {
    height: 50%;
}

.todo {
    height: 100%;
    background-color: #303030;
    margin-right: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 7vw;
    color: white;
}

.weather {
    height: 35%;
    background-color: #049de3;
    margin-bottom: 3px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}

.news {
    height: 65%;
    background-color: #F2B50F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
}

.bigNews {
    display: flex;
    align-items: center;
}

.bigNews .title{
    font-size: 2.5vw;
}

.bigNews .summary {
    font-size: 1.4vw;
}

.okNews {
    margin: auto auto;
}

.news .title {
    text-align: center;
}

.newsCol {
    background-color: #F4BE2A;
}

.img {
    max-width: 100%;
    max-height: 100%;
}


